<div class="body">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg sticky-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-wrap bg-light rounded-pill p-2 " href="#">FLIP <small
                    class="text-muted">Store</small></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Orders</a></li>
                            <li><a class="dropdown-item" href="#">Wishlist</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Help Center</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">About</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- carousal -->
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img src="/assets/images/slider1.png" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-md-block text-lg-start">
                    <h5>Shoes and Sneakers</h5>
                    <p>Casual Sneaker Shoes for Men | Shock Absorbant, <br>Slip Resistant Sneakers For Men. <br>70% off.
                        5,599.
                        ₹1,679. Free delivery. Sponsored.
                    </p>
                    <button type="button" class="btn btn-primary btn-lg">View all >></button>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="/assets/images/slider2.png" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-md-block text-lg-center">
                    <h5>T-shirts</h5>
                    <p>Buy Tshirts for Men. <br>Huge collection of men's tshirts at low offer price &
                        discounts at COD,<br> Easy
                        Returns & Exchanges. Order Now.</p>
                    <button type="button" class="btn btn-primary btn-lg">View all >></button>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="/assets/images/slider3.png" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption  d-md-block  text-lg-end">
                    <h5>Jeans and Joggers</h5>
                    <p>Best Offers on Jeans%20joggers <br> - Upto 20-71% off Sale - Original Products,<br> Fastest
                        Delivery, No
                        additional taxes, COD & Exchange/Return. Buy now!</p>
                    <button type="button" class="btn btn-primary btn-lg">View all >></button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- cards -->
    <div class="cream-bg">
        <div class="container">
            <div class="row g-4 my-3">
                <div class="col-12 col-md-4 logo-card">
                    <div class="card shadow-lg ">
                        <div class="py-2 img-index">
                            <img src="/assets/images/logo1.png" class="card-img-top img-fit">
                        </div>
                        <div class="card-body logo-card-body">
                            <h4 class="card-title">H & M</h4>
                            <p class="card-text">Welcome to H&M, your shopping destination for fashion online. We offer
                                fashion and quality at the best price in a more sustainable way</p>
                            <div class="text-end">
                                <a href="#" class=" btn btn-outline-danger">View more >></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 logo-card">
                    <div class="card shadow-lg">
                        <div class="py-2 img-index">
                            <img src="/assets/images/logo2.png" class="card-img-top img-fit">
                        </div>
                        <div class="card-body logo-card-body">
                            <h4 class="card-title">ADIDAS</h4>
                            <p class="card-text">View our collection of footwear, apparel & more for Men, Women and Kids
                                @ adidas Outlet. Up to 60% off at adidas: A collection where you are sure to find
                                amazing articles. Free Shipping. Shop Footwear, Apparel. Shop Now! adidas® Official
                                Shop. Accessories and more.</p>
                            <div class="text-end">
                                <a href="#" class=" btn btn-outline-danger">View more >></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 logo-card">
                    <div class="card shadow-lg">
                        <div class="py-2 img-index">
                            <img src="/assets/images/logo3.png" class="card-img-top img-fit">
                        </div>
                        <div class="card-body logo-card-body">
                            <h4 class="card-title">PEPE JEANS</h4>
                            <p class="card-text">Discover the iconic men's jeans collection at Pepe Jeans India and find
                                your new favorite jeans. Shop now and get free delivery across India.</p>
                            <div class="text-end">
                                <a href="#" class=" btn btn-outline-danger">View more >></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- cards left right left -->
    <div class="col g-10 ">
        <div class="card d-flex flex-lg-row flex-column-reverse  col-12 my-3 py-2 overlap">
            <div class="container d-flex justify-content-start col-lg-6">
                <img src="/assets/images/card1.png" class="card-img-left car-img-fit">
            </div>
            <div class="card-body col 12 col-lg-6 text-left text-md-center">
                <h1 class="card-title">Smartwatches <small class="text-muted">Transformed fitness tracking,
                        making it easier than ever to monitor and improve your health. Equipped with advanced sensors,
                        these
                        watches ...</small></h1>
                <p class="card-text">Buy Smartwatch Online at India's Best Online Shopping Store with Free Delivery.
                    This Festive Season
                    get Up to 70% Off on Smartwatches</p>
                <a href="#" class="btn btn-outline-danger car-button">View more >></a>

            </div>
        </div>
        <hr>
        <div class="card d-flex flex-lg-row-reverse flex-column-reverse  col-12 my-3 py-2 overlap">
            <div class="container d-flex justify-content-end col-lg-6 ">
                <img src="/assets/images/card2.png" class="card-img-left car-img-fit gam-lap">
            </div>
            <div class="card-body col 12 col-lg-6 text-end text-md-center ">
                <h1 class="card-title">Gaming Laptops<small class="text-muted">Boost your performance with high-powered
                        graphics, stunning displays and impeccable aesthetics</small></h1>
                <p class="card-text">Best Gaming Laptop : Shop for Gaming Laptop from top brands only at Croma. Check
                    out Gaming Laptop Price, specifications & more</p>
                <a href="#" class="btn btn-outline-danger car-button">View more >></a>

            </div>
        </div>
        <hr>
        <div class="card d-flex flex-lg-row flex-column-reverse  col-12 my-3 py-2 overlap">
            <div class="container d-flex justify-content-start col-lg-6">
                <img src="/assets/images/card3.png" class="card-img-left car-img-fit">
            </div>
            <div class="card-body col 12 col-lg-6 text-start text-md-center">
                <h1 class="card-title">JBL <small class="text-muted">Destination for your favorite headphones, speakers
                        and soundbars from JBL. Whether it's at a concert, in a car or at home, experience revolutionary
                        sound ...</small></h1>
                <p class="card-text">Shop from JBL store online at best prices at Croma and avail amazing deals. Choose
                    from JBL Headphones & Earphones, Speakers, Soundbars, Party Speakers</p>
                <a href="#" class="btn btn-outline-danger car-button">View more >></a>

            </div>
        </div>
        <hr>




    </div>
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="float-start">
                <p>© 2019–2023 Company, Inc. ·
                    <a href="#">Privarcy</a>·
                    <a href="#">Terms</a>
                </p>
            </div>
            <div class="float-end">
                <a href="#">Back to top</a>
            </div>
        </div>
    </footer>



















































</div>